@layer tokens, reset, fonts, base, typography, components, utility;

@layer tokens {
  :root {
    --clr-primary-slate-100: hsl(230, 21%, 95%);
    --clr-primary-slate-200: hsl(225, 17%, 82%);
    --clr-primary-slate-500: hsl(223, 7%, 53%);

    --clr-primary-zinc-600: hsl(226, 6%, 40%);
    --clr-primary-zinc-900: hsl(225, 13%, 12%);

    --clr-secondary-red-500: hsl(0, 68%, 61%);

    --clr-neutral-0: hsl(0, 0%, 100%);
    --clr-neutral-100: hsl(0, 5%, 91%);
    --clr-neutral-200: hsl(0, 0%, 88%);
    --clr-neutral-950: hsl(0, 0%, 0%);

    --clr-gradient: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.5));
    --clr-gradient-hover: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 1));

    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-450: 1.25rem;
    --fs-500: 2rem;
    --fs-600: clamp(3rem, 1.5687022900763359rem + 6.106870229007634vw, 4.5rem);
    --fs-700: clamp(3rem, 0.13740458015267176rem + 12.213740458015268vw, 6rem);
    --fs-900: clamp(7.5rem, -1.7857142857142847rem + 19.345238095238095vw, 15.625rem);

    --fs-body: var(--fs-400);
    --fs-heading-project: var(--fs-500);
    --fs-heading-section: var(--fs-600);
    --fs-heading-hero: var(--fs-700);
    --fs-heading-welcome: var(--fs-900);
    --fs-card-number: 15.62rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --ff-main: "League Spartan";

    --page-padding: 32px;
  }

  @media (min-width: 640px) {
    :root {
      --page-padding: 98px;
    }
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  a {
    text-decoration: none;
  }

  ul,
  ol {
    list-style-type: none;
    padding-left: 0px;
  }

  button {
    padding: 0px;
  }

  /* [hidden] {
    display: none !important;
  } */
}

@layer fonts {
  @font-face {
    font-display: optional;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/league-spartan-v15-latin-regular.woff2") format("woff2");
  }

  @font-face {
    font-display: optional;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/league-spartan-v15-latin-500.woff2") format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/league-spartan-v15-latin-700.woff2") format("woff2");
  }
}

@layer base {
  /* General */

  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  .menu-open::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: hsl(from var(--clr-neutral-950) h s l / 0.7);
    z-index: 100;
    pointer-events: auto;
  }

  /* Layout */

  .grid-main {
    --grid-main-gap: 10px;
    --max: 69.375rem;
    --content: min(100% - (2 * var(--page-padding)), var(--max));
    --col-size: calc((var(--content) - 2 * var(--grid-main-gap)) / 3);

    display: grid;
    grid-template-columns:
      minmax(var(--page-padding), 1fr)
      repeat(2, minmax(0, var(--col-size)) var(--grid-main-gap))
      minmax(0, var(--col-size))
      minmax(var(--page-padding), 1fr);
  }

  .grid-main > * {
    grid-column: 2 / -2;
  }

  @media (min-width: 40rem) {
    .grid-main {
      --grid-main-gap: 20px;
      --col-size: calc((var(--content) - 7 * var(--grid-main-gap)) / 8);

      grid-template-columns:
        minmax(var(--page-padding), 1fr)
        repeat(7, minmax(0, var(--col-size)) var(--grid-main-gap))
        minmax(0, var(--col-size))
        minmax(var(--page-padding), 1fr);
    }
  }
  @media (min-width: 62.5rem) {
    .grid-main {
      --grid-main-gap: 30px;
      --col-size: calc((var(--content) - 11 * var(--grid-main-gap)) / 12);

      grid-template-columns:
        1fr
        repeat(11, minmax(0, var(--col-size)) var(--grid-main-gap))
        minmax(0, var(--col-size))
        1fr;
    }
  }
}

@layer typography {
  body {
    font-size: var(--fs-body);
    font-family: var(--ff-main);
    font-weight: var(--fw-500);
    line-height: 1.35;
    color: var(--clr-primary-zinc-600);
  }

  .hero-title {
    font-size: var(--fs-heading-hero);
    line-height: 1.1;
    letter-spacing: -1.7px;
    font-weight: var(--fw-700);
  }

  .h3 {
    font-size: var(--fs-heading-section);
    font-weight: var(--fw-700);
    letter-spacing: -1.7px;
    line-height: 1.1;
    color: var(--clr-primary-zinc-900);
  }

  .h4 {
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
    line-height: 1.25;
  }

  @media (min-width: 40rem) {
    .hero-title {
      line-height: 0.85;
    }

    .h3 {
      line-height: 0.9;
      letter-spacing: -2px;
    }
  }

  @media (min-width: 62.5rem) {
    .hero-title {
      line-height: 0.85;
    }
  }
}

@layer components {
}

@layer utility {
  .skip-to-main {
    position: absolute;
    top: -80px; /* hide off-screen by default */
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px 16px;
    z-index: 100;
    text-decoration: none;
    font-weight: bold;
    transition: top 0.3s;
  }

  .skip-to-main:focus {
    top: 0; /* slide into view when focused */
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
}
